.loadding {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid red;
  }
  
  .loadding::before,.loadding::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background: black;
    border-radius: 50%;
    animation: s 1.5s linear infinite;
  }
  
  .loadding::after {
    animation-delay: 1s;
  }
  
  @keyframes s {
    0% {
      width: 0px; height: 0px; opacity: 1;
    }
    
    100% {
      width: 100px; height: 100px; opacity: 0;
    }
  }